body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
}

.output {
    margin-top: 20px;
}

#generatedPassword {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    width: 96%;
}

#copyMessage {
    display: block;
    margin-top: 10px;
    color: green;
}
